/*******************************
    1 - GENERAL CSS STARTS
********************************/

/*----------------1.1 Global properties (body, common classes, structure etc) Starts----------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #ffffff !important;
}
.theme-container{
    padding-left: 0;
    padding-right: 0;
}
.boxed .wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 5px 53px -7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}
body.off-canvas-body{
    margin-left: 301px;
}
.effect {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;

    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}
.no-pad{
    padding-left: 0;
    padding-right: 0;
}
.no-margin{
    margin: 0;
}
img{
    max-width: 100%;
}
.light-bg{
    background-color: #f2f2f2;
}
.white-bg{
    background-color: #fff;
}
.black-bg{
    background-color: #222;
}
.rel-div {
    position: relative;
}
.clrbg-before {
    position: relative;
}
.clrbg-before:before {
    content: "";
}
.mask-overlay:before,.theme-clr-mask,.white-mask{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}
.mask-overlay{
    position: relative;
}
.white-mask{
    /*background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;*/
}
.title-wrap{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.title-wrap > p {
    letter-spacing: 2px;
}
.section-title, .title-1, .title-2, .title-3, .post-title, .widget-title, .font2-title1 {
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-title { font-size: 28px; }
.title-1{ font-size: 16px; }
.title-2, .widget-title-2{ font-size: 14px; }
.title-3 {font-size: 20px;}
.post-title, .product-title, .widget-title{font-size: 18px;}
.bg-text {
    color: #f6f6f6;
    font-size: 114px;
    position: absolute;
    text-transform: uppercase;
    top: 8%;
    left: -2%;
}
.bg-text.right {
    left: auto;
    right: 2%;
}
.bg-text.center {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto
}
.white-clr, .white-clr .section-title, .white-clr .title-1, .white-clr .title-2, .white-clr .title-3, .white-clr p, .white-clr a {
    color: #fff;
}
.black-clr, .black-clr a {
    color: #222222;
}
.light-black {
    color: #333;
}
.gray-clr{ color: #9f9f9f; }
.green-clr{ color: #33be61; }
.red-clr{ color: #ff0000;}
.blue-clr, a.blue-clr{color: #0099cc;}
.main-clr{ color: #acacac;}
.block-inline{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.divider-small{
    border-color: #000;
    border-style: dashed;
    width: 190px;
}
.fullwidth-divider{ border-color: #ccc; }
.list-items li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
    text-transform: uppercase;
}
.list-items{ margin-bottom: 0; margin-left: -5px;}
.black-arrow i,.white-arrow i{
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
.black-arrow:hover i, .white-arrow:hover i{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
}
.black-arrow,a.black-arrow{
    color: #000 !important;
}
.white-arrow, a.white-arrow{
    color: #fff !important;
}
.owl-carousel .owl-item img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
/*-------------------1.1 Global properties (body, common classes, structure etc) Ends-----------------*/

/*---------------------- 1.2 Page section block Starts----------------------------*/
.pad-120 {
    padding-bottom: 120px;
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-120 {
    padding-top: 120px;
}
.pad-100 {
    padding-bottom: 100px;
    padding-top: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pad-80 {
    padding-bottom: 80px;
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-80 {
    padding-top: 80px;
}
.pad-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pad-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pad-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
}

/*---------------------------- 1.2 Page section block Ends ---------------------------*/

/*--------------------------- 1.3 Typography (section title, links, page dividers) Starts -------------------------- */

a, .btn{
    color: #222222;
    text-decoration: none;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:focus, a:hover,
.btn:hover, .btn:focus,.btn:active {
    text-decoration: none;
    outline: 0;
}
.under-line {
    text-decoration: underline;
}
p {
    margin-bottom: 15px;
    line-height: 1.8;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 20px;
}
h2,h3,h4,h5,h6{
    margin-top: 10px;
    margin-bottom: 10px;
}
.transition, .transition:after, .transition:before {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
/*------------------------ 1.3 Typography (section title, links, page dividers) Ends ---------------------- */

/*--------------------------- 1.4 Buttons Starts ---------------------- */

.btn-1 {
    text-align: center;
    border: medium none;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-1:hover, .btn-1:focus {
    background-color: #222222;
}
.btn-1.dark:hover, .btn-1.dark:focus {
    background-color: #c7c7c7;
}
.btn-round {
    border-radius: 30px;
    text-align: center;
    border: 2px solid #222222;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 200px;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-round:hover, .btn-round:focus {
    color: #ffffff;
}

/*------------------------ 1.4 Buttons Ends ---------------------------- */

/*----------------------- 1.5 Form / Input / Textarea Starts --------------------------- */
textarea{
    resize: vertical;
}
label{
    font-weight: normal;
    margin: 0;
}
.form-control, .input-group-addon, .bootstrap-select .btn {
    background-color: #ffffff;
    border-color: #e7e8ec;
    border-radius: 3px;
    box-shadow: none;
    color: #c7c7c7;
    font-size: 14px;
    height: 46px;
    padding: 10px 20px;
    font-weight: 300;
    text-transform: uppercase;
}
textarea.form-control {
    height: auto;
}
.bootstrap-select .btn {
    text-transform: uppercase;
}
.form-control.submit-btn{
    height: auto;
    line-height: normal;
}
.form-alert{
    margin: 0;
}
.box-shadow {
    box-shadow: 0 3px 20px -6px rgba(0, 0, 0, 0.2);
}
.form-control.from {
    border-right-color: transparent;
}


/*-- Checkbox/Radiobox Starts --*/
.form-group [type="checkbox"], .form-group [type="radio"]{
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form-group .checkbox-inline, .form-group .radio-inline {
    margin: 0;
    padding-left: 0;
    line-height: 1.2;
    vertical-align: -moz-middle-with-baseline;
}
.form-group [type="checkbox"] + span, .form-group [type="radio"] + span {
    cursor: pointer;
    vertical-align: text-top;
}
.form-group [type="checkbox"] + span::before{
    color: #999999;
    content: "\56";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="checkbox"]:checked + span:before {
    content: "\5a";
    font-family: "ElegantIcons";
}
.form-group [type="radio"] + span::before{
    color: #000;
    content: "\5b";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="radio"]:checked + span:before {
    content: "\5c";
    font-family: "ElegantIcons";
}
/*-- Checkbox/Radiobox Ends --*/


/*--Bootstrap Select--*/

.bootstrap-select .btn-default.active.focus, .bootstrap-select .btn-default.active:focus, .bootstrap-select .btn-default.active:hover,
.bootstrap-select .btn-default.focus:active, .bootstrap-select .btn-default:active:focus, .bootstrap-select .btn-default:active:hover,
.bootstrap-select > .dropdown-toggle.btn-default.focus, .bootstrap-select > .dropdown-toggle.btn-default:focus,
.bootstrap-select > .dropdown-toggle.btn-default:hover,.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #e7e8ec;
    color: #c7c7c7;
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 none !important;
    outline-offset: 0;
}

::-webkit-input-placeholder {
    color: #c7c7c7 ;
}
:-moz-placeholder {
    color: #c7c7c7;
}
::-moz-placeholder {
    color: #c7c7c7;
}
:-ms-input-placeholder {
    color: #c7c7c7;
}

.form-control::-webkit-input-placeholder {
    color: #c7c7c7;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #c7c7c7;
    opacity: 1;
}
.form-control::-ms-input-placeholder{
    color: #c7c7c7;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    outline: 0 none;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
    outline: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}


/*---------------------------- 1.5 Form / Input / Textarea Ends ------------------------------ */

/*---------------------------------- 1.6 Theme Colors Starts -------------------------------- */
/**-- Color-1 Light --**/
.theme-clr, .hvr-clr:hover, .hvr-clr:focus, a:focus, a:hover, .theme-menu > li:hover > a::after, .theme-menu > li.active > a,
.list-items li.active a, .header-main .theme-menu .dropdown-menu > li > a:hover, .header-main  .theme-menu .dropdown-menu > li > a:focus {
    color: #f5ab35;
}
.small, .theme-clr-bg, .btn-1, .btn-round:hover, .btn-round:focus, .owl-nav div:hover, .owl-nav div:focus, .theme-menu > li > a::after,
.header-style3 .menu-bar, .pagintn > li a:hover, .pagintn > li a:focus, .widget-wrap.tag-cloud a:hover, .widget-wrap.tag-cloud a:focus {
    background-color: #f5ab35;
}
.clrbg-before:before, .clrbg-after:after, .social-icons li a:hover, .social-icons li a:focus,
.pricing-box.active .btn-round {
    background-color: #f5ab35;
}
.banner { border-bottom: 5px solid #f5ab35; }
.form-control:focus, .themeclr-border, .social-icons li a:hover, .social-icons li a:focus,
.btn-round:hover, .btn-round:focus, .pricing-box.active, .pricing-box.active .btn-round {
    border-color: #f5ab35;
}

/**-- Color-2 Dark --**/
.theme-dark, .hvr-dark:hover, .hvr-dark:focus {
    color: #df9826;
}
.theme-dark-bg, .btn-1.dark {
    background-color: #df9826;
}
.darkclr-border, .owl-dot.active {
    border-color: #df9826;
}
.big {
    box-shadow:0px 0px 10px #df9826, 0px 0px 20px #df9826, 0px 0px 30px #df9826, 0px 0px 50px #df9826, 0px 0px 60px #df9826 ;
    background-color: #df9826;
}
/*------------------------1.6 Theme Colors Ends------------------------ */

/*--------------------------1.7 Theme Fonts Starts------------------- */

.font-2, .font2-title1, .title-1, .title-2, .title-3, .btn-1, .btn-round, .theme-countdown {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.section-title, .bg-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.font2-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.italic-text {
    font-style: italic;
}
.upper-text{
    text-transform: uppercase;
}
.capital-text{
    text-transform: capitalize;
}

.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-20 { font-size: 20px; }
.fs-26 { font-size: 26px; }
.fs-36 { font-size: 36px; }
.fs-48 { font-size: 48px; }
.fs-50 { font-size: 50px; }

.fs-96 { font-size: 96px; }

.fw-400 { font-weight: 400; }
.fw-600 { font-weight: 600; }
.fw-900 { font-weight: 900; }

/*------------------------- 1.7 Theme Fonts Ends --------------------- */


/*******************************
    1 - GENERAL CSS ENDS
********************************/

/*******************************
    3 - HOME CSS STARTS
********************************/

/*-------------------- Banner Starts -------------------- */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}
/*-------------------- Banner Ends -------------------- */

/*-------------------- Track Parcel Starts -------------------- */
.track-prod {
    background-color: #fefefe;
    border-radius: 3px;
    margin-top: -100px;
    padding: 20px 35px;
    box-shadow: 0 5px 53px -7px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #eaeaea;
    /*height: 149px;*/
}
.track-prod .title-1 {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
.track-prod::before {
    height: 5px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 20px;
}
.track-prod .form-group {
    margin: 5px 0 10px;
}
.track-prod .form-control {
    height: 50px;
    width: 413px;
    text-transform: none;
}
.track-prod .btn-1 {
    height: 54px;
    width: 286px;
}
.track-prod .font2-light {
    letter-spacing: 1px;
}

.track-prod .form-group .btn-1 {
    /*width: 100%;*/
}

.track-deco {
    margin-top: -150px;
    left: 45px;
}

.track-data{
    /*padding-top: 15px;*/
}
/*
.track-data::before {
    height: 5px;
    left: -20px;
    position: absolute;
    top: 16px;
    width: 20px;
}
*/

.track-data > .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
}

#map {
    height: 250px;
    width: 100%;
}
/*-------------------- Track Parcel Ends -------------------- */