{% extends 'app/base.html' %}
{% load static %}
{% block body %}
    <!-- Main Wrapper -->
    <main class="wrapper">
        <!-- Content Wrapper -->
        <article>
            <!-- Banner -->
            <section class="banner mask-overlay pad-120 white-clr">
                <div class="pad-10 visible-lg"></div>
            </section>
            <!-- /.Banner -->

            <!-- Track Product -->
            {% url 'app:home' as home_url %}
            <section>
                <div class="theme-container container">
                    <div class="row">
                        <div class="col-md-8 track-prod clrbg-before wow slideInUp">
                            <h2 class="title-1">Ajoutez un point de position</h2> <span class="font2-light fs-12"><a href="{{ home_url }}">Voir les positions</a></span>
                            <div class="row">
                            <form method="post" class="form-inline" action={% url 'app:address' %}>
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="numero" id="numero" class="form-control box-shadow" placeholder="Entrez le numéro du produit" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="latitude" id="latitude_id" class="form-control box-shadow" placeholder="Entrez la latitude" value="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="longitude" id="longitude_id" class="form-control box-shadow" placeholder="Entrez la longitude" value="" readonly>
                                    </div>
                                </div>

                                <div class="form-check p-3">
                                    <input class="form-check-input" name='aj' type="checkbox" value="1" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      <span class="font2-light fs-14">Nouveau coli ? </span>
                                    </label>
                                </div>

                                <div class="mx-3 mb-2 rounded" id="map"></div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" name="" id="" class="btn-1" value="send">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                        <div class="col-md-4 track-deco">
                            <div class="row">
                                <div>
                                    <img src="{% static 'app/img/car.png' %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- /.Track Product -->
        </article>
    </main>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>

<script>
    var map = L.map('map').setView([12.36793735135892, -1.5276145935058596], 13);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var popup = L.popup();

    var marker = null;

    map.on('click', function (e) {

        document.getElementById("latitude_id").value = e.latlng.lat;
        document.getElementById("longitude_id").value = e.latlng.lng;

        if (marker !== null) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);

        
    });

    if (!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!");
    } else {
        navigator.geolocation.getCurrentPosition(getPosition);
    }

    function getPosition(position) {
        lat = position.coords.latitude;
        long = position.coords.longitude;

        if (marker !== null) {
            map.removeLayer(marker);
        }

        marker = L.marker([lat, long]).addTo(map)

    }

    
</script>
{% endblock %}
